.logo{
    position: absolute;
    top: 60px;
    left: 2%;
    width: 129px;
    height: 100px;
    background-image: url(../images/utils.png);
    background-position: 0 -220px;
    z-index: 3;   
}

.logo a{
    display: block;
    width: 100%;
    height: 100%;
}

.u-btn{
    cursor: pointer;
}

.m-view{
    position: relative;
    width: 100%;
    height: 1080px;
    overflow: hidden;
}

.m-view .u-btn{
    position: fixed;
    top: 50%;
    width: 42px;
    height: 42px;
    margin-top: -21px;
    z-index: 40;
}

.m-view .u-btn.prev{
    left: 2%;
    background-image: url(../images/utils.png);
    background-position: 0 -136px;
}

.m-view .u-btn.prev:hover{
    background-position: 0 -178px;
}

.m-view .u-btn.next{
    right: 2%;
    background-image: url(../images/utils.png);
    background-position: 0 -52px;
}

.m-view .u-btn.next:hover{
    background-position: 0 -94px;
}

.m-view .view-content{
    position: absolute;
    top: 0;
    left: 0;
    width: 500%;
    height: 100%;
}

.m-view .view-item{
    float: left;
    width: 20%;
    height: 100%;
    background-position: top center;
    background-repeat: no-repeat;
    /* background-attachment: fixed; */
}

.m-view .top-page{
    background-image: url(../images/bg.jpg);
}

.m-view .arena-content{
    background-image: url(../images/bg-content.jpg);
}

.u-nav{
    position: fixed;
    left: 0;
    bottom: 50px;
    width: 100%;
    z-index: 40;
}

.u-nav::before{
    display: block;
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    width: 50%;
    height: 2px;
    margin-left: -440px;
    margin-top: -1px;
    background: #ec4a2b;
}

.u-nav::after{
    display: block;
    content: '';
    position: absolute;
    right: 0;
    top: 50%;
    width: 50%;
    height: 2px;
    margin-right: -440px;
    margin-top: -1px;
    background: #86706d;
}

.u-nav.last::after{
    background: #ec4a2b;
}

.nav-list{
    width: 1000px;
    margin: 0 auto;
}

.nav-list li{
    position: relative;
    float: left;
    width: 20%;
    min-width: 70px;
}

.nav-list li::before{
    display: block;
    content: '';
    position: absolute;
    left: -60px;
    top: 50%;
    width: 60%;
    height: 2px;
    margin-top: -1px;
    background: #86706d;  
}

.nav-list li::after{
    display: block;
    content: '';
    position: absolute;
    left: -60px;
    top: 50%;
    width: 0;
    height: 2px;
    margin-top: -1px;
    background: #ec4a2b;  
}

.nav-list li.pass::after{
    width: 60%;
}

.nav-list .icon{
    display: block;
    width: 70px;
    height: 72px;
    margin: 0 auto;
    background-image: url(../images/utils.png);
}

.nav-list .icon.i-1{background-position: 0 -320px;}
.nav-list .icon.i-2{background-position: 0 -464px;}
.nav-list .icon.i-3{background-position: 0 -608px;}
.nav-list .icon.i-4{background-position: 0 -752px;}
.nav-list .icon.i-5{background-position: 0 -896px;}

.nav-list .pass .icon.i-1,.nav-list .icon.i-1.active,.nav-list .icon.i-1:hover{background-position: 0 -392px;}
.nav-list .pass .icon.i-2,.nav-list .icon.i-2.active,.nav-list .icon.i-2:hover{background-position: 0 -536px;}
.nav-list .pass .icon.i-3,.nav-list .icon.i-3.active,.nav-list .icon.i-3:hover{background-position: 0 -680px;}
.nav-list .pass .icon.i-4,.nav-list .icon.i-4.active,.nav-list .icon.i-4:hover{background-position: 0 -824px;}
.nav-list .pass .icon.i-5,.nav-list .icon.i-5.active,.nav-list .icon.i-5:hover{background-position: 0 -968px;}


.top-title{
    padding-top: 305px;
}

.top-title .main{
    width: 789px;
    height: 283px;
    margin: 0 auto;
    background-image: url(../images/main-title.png);
}

.top-title .sub{
    position: relative;
    top: 100px;
    width: 300px;
    height: 66px;
    margin: 0 auto;
    background-image: url(../images/sub-title.png);
}

.content-wrap{
    width: 1000px;
    margin: 0 auto;
    padding-top: 95px;
    font-family: "Microsoft Yahei";
}

.content-block{
    width: 520px;
    margin-bottom: 30px;
}

.m-arena-content{
    position: relative;
}

.m-arena-content .character{
    position: absolute;
    right: 0;
    top: 135px;
    z-index: 2;
    transition: all 1s ease-in;
    opacity: 0;
}

.active .m-arena-content .character{
    opacity: 1;
}

.m-arena-content .c-1{
    width: 788px;
    height: 846px;
    background-image: url(../images/char/c1.png);
}

.m-arena-content .c-2{
    width: 1012px;
    height: 811px;
    background-image: url(../images/char/c2.png);
}

.m-arena-content .c-3{
    width: 702px;
    height: 838px;
    background-image: url(../images/char/c3.png);
}

.m-arena-content .c-4{
    width: 913px;
    height: 850px;
    background-image: url(../images/char/c4.png);
}

.content-wrap{
    position: relative;
    z-index: 3;
}

.content-wrap h4{
    /* margin-bottom: 5px; */
    text-align: center;
    font-size: 54px;
    color: #6be6f6;
}

.content-wrap h5.slogen{
    font-size: 18px;
    font-weight: 400;
    color: #d3ebef;
}

.content-wrap .rule{
    font-size: 18px;
    color: #4189ac;
}

.reward-list{
    margin-top: 20px;
    margin-left: -15px;
    overflow: hidden;
}

.reward-list li{
    float: left;
    margin-bottom: 15px;
    margin-left: 15px;
}

.item-detail.normal{
    width: 118px;
    height: 170px;
    background-image: url(../images/bg-item-normal.png);
}

.item-detail.large{
    width: 251px;
    height: 170px;
    background-image: url(../images/bg-item-large.png);
}

.item-detail.extreme{
    width: 242px;
    height: 340px;
    background-image: url(../images/bg-item-extreme.png);
}

.item-detail.sp{
    width: 251px;
    height: 220px;
    background-image: url(../images/bg-item-sp.png);
}

.item-name{
    margin-bottom: 40px;
    padding-top: 6px;
    text-align: center;
}

.item-name .require{
    font-size: 18px;
    font-weight: 700;
    color: #d3ebef;
}

.item-name .name{
    font-size: 14px;
    color: #d3ebef;
}

.item-icon{
    width: 46px;
    height: 46px;
    background-image: url(../images/icons/A01.jpg);
    margin: 0 auto;
}

.item-icon-list .item-icon{
    float: left;
}

.sprite-r-1 {
    background-position: 0 0;
}

.sprite-r-2 {
    background-position: 0 -61px;
}

.sprite-r-3 {
    background-position: 0 -132px;
}

.sprite-r-4 {
    background-position: 0 -204px;
}

.sprite-r-5 {
    background-position: 0 -279px;
}

.sprite-r-6 {
    background-position: 0 -359px;
}

.item-tip.tip-1{
    width: 205px;
    height: 98px;
    border: 1px solid #2b415a;
    background: #171e2b;
    overflow: hidden;
}

.item-tip .tag{
    float: left;
    width: 18px;
    height: 100%;
    line-height: 100%;
    padding: 10px 5px;
    font-size: 18px;
    color: #d3ebef;
    background: #2b415a;
}

.item-tip.tip-1 .item-detail{
    margin-top: 16px;
    margin-left: 32px;
}

.item-tip .item-name{
    font-size: 14px;
    color: #93b4cd;
    text-align: center;
}

.weapon-1{
    width: 174px;
    height: 168px;
    margin: 70px auto 0;
    background-image: url(../images/w-1.png);
    background-repeat: no-repeat;
}

.weapon-2{
    width: 171px;
    height: 168px;
    margin: 70px auto 0;
    background-image: url(../images/w-2.png);
    background-repeat: no-repeat;
}

.item-detail.sp .item-name{
    padding-top: 16px;
    margin-bottom: 45px;
}

.reward-icon{
    width: 164px;
    height: 114px;
    margin: 0 auto;
}

.reward-icon.r-1{background-image: url(../images/r-1.png);}
.reward-icon.r-2{background-image: url(../images/r-2.png);}

.m-step{
    width: 100%;
    height: 98px;
    border: 1px solid #2b415a;
    background: #171e2b;
}

.m-step .tag{
    position: relative;
    float: left;
    width: 100px;
    height: 100%;
    font-size: 24px;
    text-align: center;
    color: #72869c;
    background: #2b415a;
}

.m-step .tag::after{
    position: absolute;
    display: block;
    content: "";
    right: -10px;
    top: 50%;
    margin-top: -5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 10px solid #2b415a;
}

.m-step .step-detail{
    line-height: 27px;
    margin-left: 180px;
    padding: 20px 0;
    color: #4189ac;
    font-size: 16px;
}

.bbs-link{
    display: block;
    width: 251px;
    height: 92px;
    margin: 20px auto;
    font-size: 0;
    color: transparent;   
}

.bbs-link .cover{
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../images/btn-bbs.png);
    z-index: 3;
}

/* Button 1f */
.bbs-link {
	border: none;
	font-family: inherit;
	cursor: pointer;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.bbs-link:after {
	content: '';
	position: absolute;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.btn-1f {
	overflow: hidden;
}

.btn-1f:after {
	width: 101%;
	height: 0;
	top: 50%;
	left: 50%;
	background: #2b415a;
	opacity: 0;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.btn-1f:hover,
.btn-1f:active {
	color: #0e83cd;
}

.btn-1f:hover:after {
	height: 75%;
    opacity: 0.75;
    z-index: 2;
}

.btn-1f:active:after {
	height: 130%;
	opacity: 1;
}

.content-wrap h5.slogen.sp{
    font-size: 18px;
    color: #e5e5e5;
}

.item-tip.tip-2{
    width: 520px;
    height: 118px;
    margin-bottom: 50px;
    overflow: hidden;
    border: 1px solid #2b415a;
    background: #171e2b;
}

.item-tip.tip-2 ul{
    margin-top: 30px;
    margin-left: 30px;
    overflow: hidden;
}

.item-tip.tip-2 .tag{
    position: relative;
    width: 23px;
    padding: 14px 15px;
    font-size: 23px;
    font-weight: 700;
    color: #6487a1;
}

.item-tip.tip-2 .tag::after{
    position: absolute;
    display: block;
    content: "";
    right: -16px;
    top: 50%;
    margin-top: -16px;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    border-left: 16px solid #2b415a;    
}

.item-tip.tip-2 li{
    float: left;
    width: 33%;
}